:root {
  --background: #3d5c6b;
  --background-light: #517b8e;

  --on-background: #ffffff;
  --on-primary: #ffffff;

  --primary: #141f24;
  --primary-darker: #131414;
  --secondary: #edda87;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background);
  color: var(--on-background);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI",
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  background-color: var(--primary);
  border-bottom: 2px solid var(--secondary);
}

header a.odin-title {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  padding: 12px;
  background-color: var(--primary-darker);
  display: block;
}

header a.odin-title {
  color: var(--on-primary);
}

ul.menu {
  text-align: center;
  padding: 16px;
}

ul.menu li,
ul.menu a {
  display: inline-block;
  text-decoration-line: none;
  color: var(--on-primary);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  text-justify: center;
}

a {
  text-decoration: none;
}

header a.active {
  color: var(--secondary);
}

ul.menu li + li {
  margin-left: 24px;
}

.recipes-section {
  margin: 48px auto 0 auto;
  text-align: center;
}

.recipes-section h2 {
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 32px;
}

.recipes-menu li {
  display: inline-block;
}

.recipes-menu li + li {
  margin-left: 24px;
}

.recipes-menu span {
  display: block;
  text-align: left;
  color: var(--on-background);
  text-transform: uppercase;
  font-size: 28px;
  font-weight: bold;
  width: fit-content;
  margin-top: 32px;
}

.recipes-menu img {
  width: 384px;
  height: 256px;
  object-fit: cover;
  border-radius: 24px;
}

h1.recipe-heading {
  text-align: center;
  font-size: 48px;
  margin: 48px auto;
}

img.recipe-cover {
  margin: 0 auto;
  display: block;
  width: 720px;
  height: 480px;
  object-fit: cover;
}

.description {
  text-align: center;
  margin: 64px auto 0 auto;
}

.description,
.steps {
  background-color: var(--background-light);
}

.description p {
  text-align: left;
}

.description h2,
.steps h2,
.ingredients h2 {
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 24px;
  text-align: center;
}

.description,
.ingredients,
.steps {
  padding: 96px;
  font-size: 22px;
}

.source {
  background-color: var(--primary);
  padding: 32px 64px;
  text-align: left;
}

.source a {
  color: var(--secondary);
}

.about-container {
  background-color: var(--primary);
  padding: 48px;
  margin: 0 auto;
  width: 960px;
  margin-top: 48px;
  border-radius: 24px;
}

.about-container h2 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 48px;
}

.about-container a.link-github {
  background-color: var(--secondary);
  border-radius: 12px;
  color: var(--primary-darker);
  font-weight: bold;
  text-transform: uppercase;

  width: 240px;
  padding: 12px;

  display: block;
  text-align: center;
  margin-left: auto;
  margin-top: 80px;
}
